%nav.primary-navigation{role: "navigation", :"aria-label" => "Main Site Navigation", :id => 'primary-nav'}
  %ul.navigation-item-group
    %li.nav-item= link_to 'Top', '#'
    %li.nav-item= link_to 'Level', '#'
    %li.nav-item= link_to 'Navigation', '#'
